/* .image-wrapper {
    float: left;
    margin: 10px;
}

.text-block {
    position: relative;
    width: 100%;
    color: white;
}

.image-overlay {
    background-color: teal;
    color: white;
    position: absolute;
    top: 75%;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
} */